/node_modules
/public/hot
/public/build
/public/storage
/public/css/app.css
/public/js
/public/images
/storage/*.key
/vendor
.env
.env.*
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/storage/media-library
/storage/pdf/*
/.phpstorm.meta.php
/_ide_helper.php
/.idea
/.vscode
/_ide_helper_models.php
/storage/pdf/invoices
/storage/fonts
/composer.lock
composer.lock
